@model Challenge.Models.Problem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <div class="row">
        @foreach (var solution in Model.Solutions)
        {
            <div class="col-md-4 text-center" style="padding:20px;">
                <img src="@solution.Solution" style="width:160px; height:160px; object-fit: contain;" />
                <br />
                <div>
                    @Html.ActionLink("Approve", "ApproveUser", null, htmlAttributes: new { @class = "btn btn-success" })
                </div>
            </div>
        }
    </div>
</div>
<p>
    @if (User.IsInRole("Editor"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id, id2 = Model.ChallengeFK }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Back to List", "Index", new { id = Model.ChallengeFK }, htmlAttributes: new { @class = "btn btn-default" })
</p>
