@using Microsoft.AspNet.Identity
@model IEnumerable<Challenge.Models.Problem>

@{
    ViewBag.Title = "Index";
}

<h2>All Tasks</h2>

<p>
    @if (User.IsInRole("Editor"))
    {
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.ChallengeId }, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
<table class="table" id="problemsTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.HiddenFor(modelItem => item.Challenge.Id)
            </td>
            <td>
                <div style="float: right;">
                @if (item.WinnerFK != null)
                {
                    <span class="text-danger" style="border: 3px solid #cecece; padding: 5px; margin: 5px; background-color: #ffd8d9;">closed</span>
                }
                @if (item.WinnerFK == null && item.Solutions.Where(s => s.ProblemFK != 0 && s.UserFK != null && s.ProblemFK == item.Id && s.UserFK == User.Identity.GetUserId()).Select(e => e).ToList().Count > 0)
                {
                    <span class="text-success" style="padding:10px;">&check;</span>
                }
                @if (!User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Upload", "AddSolutionToProblem", item, htmlAttributes: new { @class = "btn btn-success" })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id, id2 = ViewBag.ChallengeId }, new { @class = "btn btn-default" })
                @if (User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, id2 = ViewBag.ChallengeId }, new { @class = "btn btn-default m-2" })
                }
                @if (User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, id2 = ViewBag.ChallengeId }, new { @class = "btn btn-danger" })
                }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
@if (!User.IsInRole("Editor"))
{
    @Html.ActionLink("Back", "BackUser", null, new { @class = "btn btn-default" })
}
@if (User.IsInRole("Editor"))
{
    @Html.ActionLink("Back", "BackEditor", new { id = ViewBag.ChallengeId }, new { @class = "btn btn-default" })
}


@section Scripts {
    <script>
       $("#problemsTable").DataTable();
    </script>
  }