@model IEnumerable<Challenge.Models.Problem>

@{
    ViewBag.Title = "Index";
}

<h2>All Tasks</h2>

<p>
    @if (User.IsInRole("Editor"))
    {
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.ChallengeId }, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.HiddenFor(modelItem => item.Challenge.Id);
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id, id2 = ViewBag.ChallengeId }, new { @class = "btn btn-default" })
                @if (User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, id2 = ViewBag.ChallengeId }, new { @class = "btn btn-default m-2" })
                }
                @if (User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, id2 = ViewBag.ChallengeId }, new { @class = "btn btn-danger" })
                }

            </td>
        </tr>
    }

</table>
